openapi: 3.0.0
info:
  version: 1.0.0
  title: Credence API
  description: Generated OpenAPI documentation from Zod schemas
servers:
  - url: https://api.credence.org/v1
paths:
  /api/attestations/{address}:
    get:
      summary: List attestations for an address
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: Paginated attestation list
          content:
            application/json:
              schema:
                type: object
                required:
                  - address
                  - attestations
                  - offset
                  - page
                  - limit
                  - total
                  - hasNext
                properties:
                  address:
                    type: string
                  attestations:
                    type: array
                    items:
                      $ref: "#/components/schemas/Attestation"
                  offset:
                    type: integer
                  page:
                    type: integer
                  limit:
                    type: integer
                  total:
                    type: integer
                  hasNext:
                    type: boolean
        "400":
          description: Invalid address or pagination
  /api/attestations:
    post:
      summary: Create an attestation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAttestationRequest"
      responses:
        "201":
          description: Attestation persisted and outbox event emitted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attestation"
        "400":
          description: Invalid or oversized payload
        "409":
          description: Duplicate attestation
components:
  schemas:
    Attestation:
      type: object
      required:
        - id
        - bondId
        - attesterAddress
        - subjectAddress
        - score
        - createdAt
      properties:
        id:
          type: integer
        bondId:
          type: integer
        attesterAddress:
          type: string
        subjectAddress:
          type: string
        score:
          type: integer
          minimum: 0
          maximum: 100
        note:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
    CreateAttestationRequest:
      type: object
      required:
        - bondId
        - attesterAddress
        - subject
        - value
      properties:
        bondId:
          type: integer
          minimum: 1
        attesterAddress:
          type: string
        subject:
          type: string
        key:
          type: string
          minLength: 1
          maxLength: 128
        value:
          type: string
          minLength: 1
          maxLength: 2048
        score:
          type: integer
          minimum: 0
          maximum: 100
          default: 100
    addressSchema:
      def:
        type: string
        checks:
          - {}
          - {}
      type: string
      format: regex
      minLength: 1
      maxLength: null
    attestationEventSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          pagingToken:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          type:
            def:
              type: enum
              entries:
                add: add
                revoke: revoke
            type: enum
            enum:
              add: add
              revoke: revoke
            options:
              - add
              - revoke
          subject:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          verifier:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          weight:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
                - {}
                - {}
            type: number
            minValue: 0
            maxValue: 100
            isInt: true
            isFinite: true
            format: safeint
          claim:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          createdAt:
            def:
              type: string
              checks:
                - {}
            type: string
            format: regex
            minLength: null
            maxLength: null
          transactionHash:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    attestationsPathParamsSchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: regex
            minLength: 1
            maxLength: null
      type: object
    attestationsQuerySchema:
      def:
        type: object
        shape:
          page:
            def:
              type: default
              innerType:
                def:
                  type: optional
                  innerType:
                    def:
                      type: number
                      coerce: true
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                    type: number
                    minValue: 1
                    maxValue: 9007199254740991
                    isInt: true
                    isFinite: true
                    format: safeint
                type: optional
              defaultValue: 1
            type: default
          limit:
            def:
              type: default
              innerType:
                def:
                  type: optional
                  innerType:
                    def:
                      type: number
                      coerce: true
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                        - {}
                    type: number
                    minValue: 1
                    maxValue: 100
                    isInt: true
                    isFinite: true
                    format: safeint
                type: optional
              defaultValue: 20
            type: default
          offset:
            def:
              type: default
              innerType:
                def:
                  type: optional
                  innerType:
                    def:
                      type: number
                      coerce: true
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                    type: number
                    minValue: 0
                    maxValue: 9007199254740991
                    isInt: true
                    isFinite: true
                    format: safeint
                type: optional
              defaultValue: 0
            type: default
          cursor:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
        catchall:
          def:
            type: never
          type: never
      type: object
    bondCreationEventSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          type:
            def:
              type: literal
              values:
                - create_bond
            type: literal
            values: {}
          sourceAccount:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          amount:
            def:
              type: string
              checks:
                - {}
            type: string
            format: regex
            minLength: null
            maxLength: null
          duration:
            def:
              type: optional
              innerType:
                def:
                  type: nullable
                  innerType:
                    def:
                      type: string
                    type: string
                    format: null
                    minLength: null
                    maxLength: null
                type: nullable
            type: optional
          pagingToken:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
          transactionHash:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
      type: object
    bondPathParamsSchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: regex
            minLength: 1
            maxLength: null
      type: object
    bondQuerySchema:
      def:
        type: object
        shape: {}
        catchall:
          def:
            type: never
          type: never
      type: object
    createAttestationBodySchema:
      def:
        type: object
        shape:
          subject:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: regex
            minLength: 1
            maxLength: null
          value:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          key:
            def:
              type: optional
              innerType:
                def:
                  type: string
                  checks:
                    - {}
                type: string
                format: null
                minLength: 1
                maxLength: null
            type: optional
        catchall:
          def:
            type: never
          type: never
      type: object
    createPayoutSchema:
      def:
        type: object
        shape:
          bondId:
            def:
              type: union
              options:
                - def: { type: string }
                  type: string
                - def: { type: number }
                  type: number
            type: union
            options:
              - type: string
              - type: number
          amount:
            def:
              type: string
            type: string
            format: regex
          transactionHash:
            def:
              type: string
            type: string
            minLength: 1
            maxLength: 128
          settledAt:
            def:
              type: optional
              innerType:
                def: { type: string }
                type: string
                format: datetime
            type: optional
          status:
            def:
              type: optional
              innerType:
                def:
                  type: enum
                  entries: { pending: pending, settled: settled, failed: failed }
                type: enum
                enum: { pending: pending, settled: settled, failed: failed }
                options: [pending, settled, failed]
            type: optional
      type: object
    trustPathParamsSchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: regex
            minLength: 1
            maxLength: null
      type: object
    trustQuerySchema:
      def:
        type: object
        shape: {}
        catchall:
          def:
            type: never
          type: never
      type: object
    withdrawalEventSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          pagingToken:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          type:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          createdAt:
            def:
              type: union
              options:
                - def:
                    type: date
                  type: date
                  minDate: null
                  maxDate: null
                - def:
                    type: string
                    checks:
                      - {}
                  type: string
                  format: regex
                  minLength: null
                  maxLength: null
            type: union
            options:
              - def:
                  type: date
                type: date
                minDate: null
                maxDate: null
              - def:
                  type: string
                  checks:
                    - {}
                type: string
                format: regex
                minLength: null
                maxLength: null
          bondId:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          account:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          amount:
            def:
              type: string
              checks:
                - {}
            type: string
            format: regex
            minLength: null
            maxLength: null
          assetType:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          assetCode:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
          assetIssuer:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
          transactionHash:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          operationIndex:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
                - {}
            type: number
            minValue: 0
            maxValue: 9007199254740991
            isInt: true
            isFinite: true
            format: safeint
      type: object
  parameters: {}
paths: {}
