openapi: 3.0.0
info:
  version: 1.0.0
  title: Credence API
  description: Generated OpenAPI documentation from Zod schemas
servers:
  - url: https://api.credence.org/v1
components:
  schemas:
    addressSchema:
      def:
        type: string
        checks:
          - {}
          - {}
      type: string
      format: regex
      minLength: 1
      maxLength: null
    attestationEventSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          pagingToken:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          type:
            def:
              type: enum
              entries:
                add: add
                revoke: revoke
            type: enum
            enum:
              add: add
              revoke: revoke
            options:
              - add
              - revoke
          subject:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          verifier:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          weight:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
                - {}
                - {}
            type: number
            minValue: 0
            maxValue: 100
            isInt: true
            isFinite: true
            format: safeint
          claim:
            def:
              type: string
            type: string
            format: null
            minLength: null
            maxLength: null
          createdAt:
            def:
              type: string
              checks:
                - {}
            type: string
            format: regex
            minLength: null
            maxLength: null
          transactionHash:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
      type: object
    attestationsPathParamsSchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: regex
            minLength: 1
            maxLength: null
      type: object
    attestationsQuerySchema:
      def:
        type: object
        shape:
          page:
            def:
              type: default
              innerType:
                def:
                  type: optional
                  innerType:
                    def:
                      type: number
                      coerce: true
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                    type: number
                    minValue: 1
                    maxValue: 9007199254740991
                    isInt: true
                    isFinite: true
                    format: safeint
                type: optional
              defaultValue: 1
            type: default
          limit:
            def:
              type: default
              innerType:
                def:
                  type: optional
                  innerType:
                    def:
                      type: number
                      coerce: true
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                        - {}
                    type: number
                    minValue: 1
                    maxValue: 100
                    isInt: true
                    isFinite: true
                    format: safeint
                type: optional
              defaultValue: 20
            type: default
          offset:
            def:
              type: default
              innerType:
                def:
                  type: optional
                  innerType:
                    def:
                      type: number
                      coerce: true
                      checks:
                        - def:
                            type: number
                            check: number_format
                            abort: false
                            format: safeint
                          type: number
                          minValue: -9007199254740991
                          maxValue: 9007199254740991
                          isInt: true
                          isFinite: true
                          format: safeint
                        - {}
                    type: number
                    minValue: 0
                    maxValue: 9007199254740991
                    isInt: true
                    isFinite: true
                    format: safeint
                type: optional
              defaultValue: 0
            type: default
          cursor:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
        catchall:
          def:
            type: never
          type: never
      type: object
    bondCreationEventSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          type:
            def:
              type: literal
              values:
                - create_bond
            type: literal
            values: {}
          sourceAccount:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          amount:
            def:
              type: string
              checks:
                - {}
            type: string
            format: regex
            minLength: null
            maxLength: null
          duration:
            def:
              type: optional
              innerType:
                def:
                  type: nullable
                  innerType:
                    def:
                      type: string
                    type: string
                    format: null
                    minLength: null
                    maxLength: null
                type: nullable
            type: optional
          pagingToken:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
          transactionHash:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
      type: object
    bondPathParamsSchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: regex
            minLength: 1
            maxLength: null
      type: object
    bondQuerySchema:
      def:
        type: object
        shape: {}
        catchall:
          def:
            type: never
          type: never
      type: object
    createAttestationBodySchema:
      def:
        type: object
        shape:
          subject:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: regex
            minLength: 1
            maxLength: null
          value:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          key:
            def:
              type: optional
              innerType:
                def:
                  type: string
                  checks:
                    - {}
                type: string
                format: null
                minLength: 1
                maxLength: null
            type: optional
        catchall:
          def:
            type: never
          type: never
      type: object
    createPayoutSchema:
      def:
        type: object
        shape:
          bondId:
            def:
              type: union
              options:
                - def: { type: string }
                  type: string
                - def: { type: number }
                  type: number
            type: union
            options:
              - type: string
              - type: number
          amount:
            def:
              type: string
            type: string
            format: regex
          transactionHash:
            def:
              type: string
            type: string
            minLength: 1
            maxLength: 128
          settledAt:
            def:
              type: optional
              innerType:
                def: { type: string }
                type: string
                format: datetime
            type: optional
          status:
            def:
              type: optional
              innerType:
                def:
                  type: enum
                  entries: { pending: pending, settled: settled, failed: failed }
                type: enum
                enum: { pending: pending, settled: settled, failed: failed }
                options: [pending, settled, failed]
            type: optional
      type: object
    trustPathParamsSchema:
      def:
        type: object
        shape:
          address:
            def:
              type: string
              checks:
                - {}
                - {}
            type: string
            format: regex
            minLength: 1
            maxLength: null
      type: object
    trustQuerySchema:
      def:
        type: object
        shape: {}
        catchall:
          def:
            type: never
          type: never
      type: object
    withdrawalEventSchema:
      def:
        type: object
        shape:
          id:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          pagingToken:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          type:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          createdAt:
            def:
              type: union
              options:
                - def:
                    type: date
                  type: date
                  minDate: null
                  maxDate: null
                - def:
                    type: string
                    checks:
                      - {}
                  type: string
                  format: regex
                  minLength: null
                  maxLength: null
            type: union
            options:
              - def:
                  type: date
                type: date
                minDate: null
                maxDate: null
              - def:
                  type: string
                  checks:
                    - {}
                type: string
                format: regex
                minLength: null
                maxLength: null
          bondId:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          account:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          amount:
            def:
              type: string
              checks:
                - {}
            type: string
            format: regex
            minLength: null
            maxLength: null
          assetType:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          assetCode:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
          assetIssuer:
            def:
              type: optional
              innerType:
                def:
                  type: string
                type: string
                format: null
                minLength: null
                maxLength: null
            type: optional
          transactionHash:
            def:
              type: string
              checks:
                - {}
            type: string
            format: null
            minLength: 1
            maxLength: null
          operationIndex:
            def:
              type: number
              checks:
                - def:
                    type: number
                    check: number_format
                    abort: false
                    format: safeint
                  type: number
                  minValue: -9007199254740991
                  maxValue: 9007199254740991
                  isInt: true
                  isFinite: true
                  format: safeint
                - {}
            type: number
            minValue: 0
            maxValue: 9007199254740991
            isInt: true
            isFinite: true
            format: safeint
      type: object
  parameters: {}
paths: {}
